{box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; 
  background-color:lightgray; 
}

.skills {
  text-align: right; 
  padding-top: 1px; 
  padding-bottom: 1px; 
  color: white; 
}
.html {width: 90%; background-color:blue;} 
.css {width: 80%; background-color:blue;} 
.js {width: 65%; background-color:blue;} 
.ap {width: 70%; background-color:green;}
.sketch {width: 80%; background-color:green;}
.axd {width: 60%; background-color:green;}
