<head>
 
   <title>resume</title>
    <link rel="stylesheet" href="cv.css">
  </head>
  
  <body>
    <h1>Rutuja Mule</h1>
	<p>Graphic Designer & Web Developer</p><hr/>
	<h2>About Me</h2>
	<p>Hello I'm Joyce Harrison. I am passionate about UI/UX design and Web Design. I am a skilled Fort -end Developer and master of Graphic Design tools such as Photoshop and Sketch.</p>
	Age: 28<br/>
	Email: Joyce@company.com<br/>
	Phone: +0718-111-0011<br/>
	Address: 140,City Center,New York, U.S.A<br/><hr/>
	<h2>Professional Skills</h2>
	<p>HTML</p>
<div class="container">
  <div class="skills html">90%</div>
</div>

<p>CSS</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p>JavaScript</p>
<div class="container">
  <div class="skills js">60%</div>
</div>

<p>Adode Photoshop</p>
<div class="container">
  <div class="skills ap">70%</div>
</div>

<p>Sketch</p>
<div class="container">
  <div class="skills sketch">80%</div>
</div>

<p>Adode XD</p>
<div class="container">
  <div class="skills axd">60%</div>
</div><hr/>
<h2>Work Experience</h2>
<h4>Frontend Developer at Creative Angency</h4>
Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approches to corporate strategy foster collaborative thinking to further the overall value propositional.
 <h4>Graphics Designer</h4>
 Override the digital divide with additional clickthroughts from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
<h4>Junior Web Developer at Indie Studio</h4>
User generated content in real-time will have multiple touchpoints for offshoring. Organically grow the holistic world view of disruption via workplace diversity and empowerment.<hr/>

<h2>Education</h2>
<h4>Master in Information Technology from International University</h4>
Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approches to corporate strategy foster collaborative thinking to further the overall value propositional.
<h4>Bachelor of Computer Science from Regional College</h4>
 Override the digital divide with additional clickthroughts from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.

